* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 15px;
    background: #F0EAD2;
  }
  h2 {color:#6C584C;
    font-family: "Bungee Inline", sans-serif;}
  /* Header/Blog Title */
  .header {
    padding: 15px;
    text-align: center;
    
    background: #ADC178;
    border-radius: 20px;
  }
  h3 {color: #6C584C;
    font-family: "Bungee Inline", sans-serif;}

  .header h1 {
    font-size: 75px;
    color: #6C584C;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  p{color: #6C584C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #DDE5B6;
    border-radius: 20px;
    font-family: "Bungee Inline";
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #6C584C;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #F0EAD2;
    padding-left: 15px;
    
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: #ADC178;
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 15px;
    text-align: center;
    background: #ADC178;
    margin-top: 20px;
    border-radius: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  td, th { border: 5px solid #F0EAD2; font-size: 25px; color: #6C584C; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
  table { border: 5px solid #6C584C; background-color: #ADC178;  margin-left: auto;
    margin-right: auto; border-radius: 8px;}
    h5 {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #6C584C;}

    /*.mainimages {border-radius: 15px;}*/
    img {border-radius: 15%;}
    .headerimgl {float: left;}
    .headerimgr {float: right;}